*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    height: max-content;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buscador{
    float: right;
    position: relative;
    bottom: 35px;
}