        <div class="homeing">
            <img src="images/home/img00.jpg" alt="avion">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempora impedit accusamus, odio laboriosam voluptatum exercitationem cum similique modi perferendis error eveniet repellat repellendus doloremque cumque corrupti earum quis praesentium.</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - muebles.com</span>
                </div>
            </div>
        </div>