        <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia iure a voluptatum labore omnis modi tempore repudiandae, sed, magni quae. Vero quisquam necessitatibus ratione soluta quos molestias velit nemo!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis asperiores excepturi, ipsam ex dolorum nesciunt adipisci obcaecati magni fugit delectus ipsum eos expedita libero corrupti illo hic placeat nulla qui.</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore, ut quaerat velit, dolorem molestias ipsum, minus totam necessitatibus tempora soluta nulla quisquam ad perferendis neque corporis voluptates? Temporibus, quisquam.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Patricia Gonzalez">
                    <h5>Patricia Gonzalez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore, ut quaerat velit, dolorem molestias ipsum, minus totam necessitatibus tempora soluta nulla quisquam ad perferendis neque corporis voluptates? Temporibus, quisquam.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Martin Mora">
                    <h5>Martin Mora</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore, ut quaerat velit, dolorem molestias ipsum, minus totam necessitatibus tempora soluta nulla quisquam ad perferendis neque corporis voluptates? Temporibus, quisquam.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Soledad Perez">
                    <h5>Soledad Perez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore, ut quaerat velit, dolorem molestias ipsum, minus totam necessitatibus tempora soluta nulla quisquam ad perferendis neque corporis voluptates? Temporibus, quisquam.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Gonzalo Arias">
                    <h5>Gonzalo Arias</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore, ut quaerat velit, dolorem molestias ipsum, minus totam necessitatibus tempora soluta nulla quisquam ad perferendis neque corporis voluptates? Temporibus, quisquam.</p>
                </div>
            </div>
        </section>